.godot/
bin/
/android/
.git/
.idea/
.vs/
publish/
Properties/
packages/
.editorconfig
*cs.uid
*.user
Theresa/images/relics/UntoldFragments.png.import
Theresa/images/powers/amiya_crescendo_action.png
Theresa/images/powers/amiya_crescendo_action.png.import
Theresa/images/powers/swordsman_slash_action.png
Theresa/images/powers/swordsman_slash_action.png.import
Theresa/images/relics/EyeSpy_O.png.import
Theresa/images/relics/EyeSpy.png.import
Theresa/images/relics/GoDudeNoWord_O.png.import
Theresa/images/relics/GoDudeNoWord.png.import
Theresa/images/relics/LiteratureBegins_O.png.import
Theresa/images/relics/LiteratureBegins.png.import
Theresa/images/relics/LittleCube_O.png.import
Theresa/images/relics/LittleCube.png.import
Theresa/images/relics/SingerMask_O.png.import
Theresa/images/relics/SingerMask.png.import
Theresa/images/relics/TheRecall_O.png.import
Theresa/images/relics/TheRecall.png.import
Theresa/images/relics/UntoldFragments_O.png.import
build.log
build2.log
build3.log
sig_parser.py
sig_parser2.py
.vscode/settings.json
/.trae/documents/multiplayer-protection-ndustring-fix.md
